<% if object.errors.any? %>
<div class="error">
    <div class="alert alert-error">
        <%= pluralize(object.errors.count, "error") %>
    </div>

    <% object.errors.full_messages.each do |error| %>
        <li><%= error%></li>
    <% end %>
</div>
<% end %>