<% @user||=current_user %>
<li><a href="<%= following_user_path(@user) %>"><%= @user.followed_users.count %> 关注</a></li>
<li><a href="<%= followers_user_path(@user) %>"><%= @user.followers.count %> 粉丝</a></li>