<header class="navbar navbar-fixed-down navbar-inverse">
<div class="navbar-inner">
    <%= link_to "Rainbow", root_path, id: "logo"%> 
    <nav>
        <ul class="nav pull-right">
            <li><%= link_to "主页", root_path %></li>
            <li><%= link_to "帮助", help_path %></li>
            <li><%= link_to "登录", '#'%></li>
        </ul>
    </nav>
</div>
</header>